.helloScreen 
    width: 100%
    height: calc(100% - 112px)
    display: flex
    align-items: center
    justify-content: center

.helloScreen h1 
    font-weight: 400
    font-size: 2.875rem
    line-height: 65.78px
    color: #4F4F4F

.mainSearch
    width: 100%
    height: calc(100% - 112px)
    display: flex
    flex-direction: row

.resultsWindow
    flex: 2
    position: relative    

.sidebar
    background-color:#F2F2F2
    max-width: 480px
    min-width: 350px
    float: right
    flex: 1
    justify-content: center
    align-content: center

.placeholder
    text-align: center
    font-size: 14px
    line-height: 20.02px
    color: #4F4F4F

.repoInfo
    height: 100%
    padding-left: 24px
    padding-top: 24px
    padding-right: 32px

.repoInfo h2
    font-weight: 400
    font-size: 32px
    line-height: 40px
    color: #000000DE
    margin-bottom: 16px

.stargazers
    line-height: 20px
    padding-top: 4px

.stargazers img
    vertical-align: middle
    padding-bottom: 6px
    margin-right: 10px

.repoMainInfo
    display: flex
    justify-content: space-between
    margin-bottom: 16px

.repoLangs
    display: table 

.license
    margin-top: 16px