.caption
    font-size: 2.875rem
    margin: 24px 32px

.wrapper
    width: 100%
    max-height: calc(100% - 76px)
    display: block
    overflow-y: auto

.tableContainer
    padding-left: 32px
    padding-right: 16px

.tableContainer table
    border-spacing: 0
    border-collapse: collapse
    width: 100%
    font-size: 14px

.tableContainer table tr
    border-bottom: 1px solid #0000001F

.tableContainer table tr td:last-child
    width: 171px

.tableContainer td
    padding-top: 16px
    padding-bottom: 16px
    padding-left: 10px
    margin: 0

.tableContainer tbody tr:hover
    background-color: #2196F30A

.tableContainer tbody
    line-height: 20px

.tableContainer table thead
    font-weight: 500
    line-height: 24px

.tableContainer table thead tr td
    cursor: pointer

.tableContainer table thead tr td:hover
    color: #2196F3

.arrowup
    vertical-align: middle
    margin-right: 3.33px

.arrowdown
    transform: scale(1, -1)